@media screen and (min-width: 768px) {
  section#inicio p {
    width: 50%;
  }

  section#filmes .filme-caixa {
    flex-direction: row;
    img {
      width: 300px;
    }
    .filme-desc {
      padding: 30px;
      justify-content: center;
      .filme-sobre {
        width: 75%;
      }
    }
  }

  section#curiosidades {
    .curiosidades {
      flex-direction: row;
      gap: 44px;
      margin: auto;
      width: 90%;
      .info-curi {
        margin-top: 0px;
      }
    }
    .premiacoes {
      margin-bottom: 0px;
    }
  }
}
