:root {
  --fundo-do-site: #09090b;
  --navbar-cards-filmes: #18181b;
  /*logo, icones tituloFilmes, hoverBotoes e links, streaming*/
  --cor-destaque: #eab308;
  /*textos*/
  --texto-principal: #f4f4f5;
  --titulo-hero: #ffffff;
  --texto-secundario: #e4e4e7;
  --descricao-filmes: #d4d4d8;
  --labels-sociais: #a1a1aa;
  /*bordas*/
  --bordas: #27272a;
  --gradiente: rgba(0, 0, 0, 0.6);
  --gradiente2: rgba(0, 0, 0, 0.7);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}
body {
  padding-top: 56px;
  background-color: var(--fundo-do-site);
}
section {
  scroll-margin-top: 80px;
}
header {
  background-color: var(--fundo-do-site);
  color: var(--cor-destaque);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  .logo {
    font-size: 1.3em;
    font-weight: bold;
    i {
      margin: 0px 7px;
    }
  }
  nav {
    display: flex;
    gap: 20px;
    a {
      color: #fff;
      padding: 7px;
      text-decoration: none;
      transition: color 0.3s;
      &:hover {
        color: var(--cor-destaque);
      }
    }
  }
}
/* Botão hambúrguer */
.menu-btn {
  display: none;
  flex-direction: column;
  cursor: pointer;
  z-index: 20;
}
.menu-btn span {
  height: 3px;
  width: 27px;
  background-color: #fff;
  margin: 3px 0;
  transition: 0.3s;
}
/* Responsividade */
@media (max-width: 768px) {
  nav {
    position: fixed;
    top: 0;
    right: -220px;
    height: 100%;
    width: 200px;
    background-color: #333;
    flex-direction: column;
    padding: 60px 20px;
    gap: 15px;
    transition: right 0.4s ease;
    z-index: 15;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  nav.active {
    right: 0;
  }

  .menu-btn {
    display: flex;
  }
}

section#inicio {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/capa-do-inicio.jpg);
  height: 80vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h1 {
    font-size: 1.4em;
    color: var(--texto-principal);
  }
  p {
    width: 460px;
    margin-top: 15px;
    text-align: center;
    color: var(--texto-secundario);
  }
}
