:root {
  --fundo-do-site: #09090b;
  --navbar-cards-filmes: #18181b;
  /*logo, icones tituloFilmes, hoverBotoes e links, streaming*/
  --cor-destaque: #eab308;
  /*textos*/
  --texto-principal: #f4f4f5;
  --titulo-hero: #ffffff;
  --texto-secundario: #e4e4e7;
  --descricao-filmes: #d4d4d8;
  --labels-sociais: #a1a1aa;
  /*bordas*/
  --bordas: #27272a;
  --gradiente: rgba(0, 0, 0, 0.6);
  --gradiente2: rgba(0, 0, 0, 0.7);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html {
  scroll-behavior: smooth;
}
body {
  padding-top: 56px;
  background-color: var(--fundo-do-site);
}
section {
  scroll-margin-top: 80px;
}
header {
  background-color: var(--fundo-do-site);
  color: var(--cor-destaque);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  .logo {
    font-size: 1.3em;
    font-weight: bold;
    i {
      margin: 0px 7px;
    }
  }
  nav {
    display: flex;
    gap: 20px;
    a {
      color: #fff;
      padding: 7px;
      text-decoration: none;
      transition: color 0.3s;
      &:hover {
        color: var(--cor-destaque);
      }
    }
  }
}
/* Botão hambúrguer */
.menu-btn {
  display: none;
  flex-direction: column;
  cursor: pointer;
  z-index: 20;
}
.menu-btn span {
  height: 3px;
  width: 27px;
  background-color: #fff;
  margin: 3px 0;
  transition: 0.3s;
}
/* Responsividade */
@media (max-width: 768px) {
  nav {
    position: fixed;
    top: 0;
    right: -220px;
    height: 100%;
    width: 200px;
    background-color: #333;
    flex-direction: column;
    padding: 60px 20px;
    gap: 15px;
    transition: right 0.4s ease;
    z-index: 15;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  nav.active {
    right: 0;
  }

  .menu-btn {
    display: flex;
  }
}

section#inicio {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/capa-do-inicio.jpg);
  height: 80vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 69px;
  h1 {
    font-size: 1.4em;
    color: var(--texto-principal);
  }
  p {
    width: 460px;
    margin-top: 15px;
    text-align: center;
    color: var(--texto-secundario);
  }
}

section#filmes {
  margin: auto;
  width: 92%;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  h2 {
    color: var(--cor-destaque);
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 30px;
    border-bottom: 2px solid var(--bordas);
  }
  .filme-caixa {
    background-color: var(--navbar-cards-filmes);
    width: 90%;
    margin: auto;
    margin-bottom: 35px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
    transition: outline 0.1s;
    &:hover {
      outline: 1.5px solid var(--cor-destaque);
    }
    img {
      width: 100%;
      height: 100%; /*talvez não precise*/
      object-fit: cover;
      margin: auto;
    }
    .filme-desc {
      padding: 20px;
      display: flex;
      flex-direction: column;
      h3 {
        color: var(--cor-destaque);
        margin: 10px 0px;
      }
      .filme-sobre {
        color: var(--descricao-filmes);
        margin: 10px 0px;
      }
      .filme-diretor {
        color: var(--descricao-filmes);
        margin: 10px 0px;
        span {
          color: var(--labels-sociais);
        }
      }
      .filme-elenco {
        color: var(--descricao-filmes);
        margin: 10px 0px;
        span {
          color: var(--labels-sociais);
        }
      }
      .onde-assistir {
        display: flex;
        flex-direction: row;
        gap: 7px;
        margin: 10px 0px;
        span {
          color: var(--labels-sociais);
          margin-right: 5px;
          padding-top: 3px;
        }
        p {
          background-color: var(--bordas);
          padding: 3px 8px;
          border-radius: 20px;
          color: var(--cor-destaque);
          border: 1px solid var(--cor-destaque);
        }
      }
    }
  }
}

section#curiosidades {
  background-color: var(--navbar-cards-filmes);
  padding-top: 80px;
  h2 {
    color: var(--cor-destaque);
    text-align: center;
    margin-bottom: 55px;
  }
  .curiosidades {
    display: flex;
    flex-direction: column;
    .info-curi {
      width: 80%;
      margin: auto;
      margin-bottom: 40px;
      h3 {
        color: var(--texto-secundario);
        margin-bottom: 20px;
        i {
          color: var(--cor-destaque);
          margin-right: 7px;
        }
      }
      p {
        color: var(--texto-secundario);
        background-color: var(--fundo-do-site);
        padding: 17px;
        margin-bottom: 20px;
        border-radius: 10px;
        border: 2px solid var(--bordas);
      }
    }
    .premiacoes {
      width: 80%;
      margin: auto;
      margin-bottom: 80px;
      h3 {
        color: var(--texto-secundario);
        margin-bottom: 20px;
        i {
          color: var(--cor-destaque);
          margin-right: 7px;
        }
      }
      .premiacao {
        background-color: var(--fundo-do-site);
        padding: 20px;
        margin-bottom: 20px;
        border-radius: 10px;
        border: 2px solid var(--bordas);
        h4 {
          color: var(--cor-destaque);
          margin-bottom: 14px;
        }
        p {
          color: var(--texto-secundario);
        }
      }
    }
  }
}

footer {
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  div {
    padding: 10px;
    text-align: center;
    h3 {
      color: var(--cor-destaque);
      i {
        margin-right: 7px;
      }
    }
    p {
      color: var(--descricao-filmes);
      margin: 15px 0px;
    }
  }
}
